<?xml version="1.0"?>
<config>
	<modules>
		<Jtech_SubmitBestOffer>
			<version>1.0.1</version>
		</Jtech_SubmitBestOffer>
	</modules>
	
	<global>
		<helpers>
			<submitbestoffer>
				<class>Jtech_SubmitBestOffer_Helper</class>
			</submitbestoffer>
		</helpers>
		<blocks>
			<submitbestoffer>
				<class>Jtech_SubmitBestOffer_Block</class>
			</submitbestoffer>
		</blocks>
		<models>
			<submitbestoffer>
				<class>Jtech_SubmitBestOffer_Model</class>
				<resourceModel>submitbestoffer_mysql4</resourceModel>
			</submitbestoffer>
			<submitbestoffer_mysql4>
                <class>Jtech_SubmitBestOffer_Model_Mysql4</class>
                <entities>
                    <submitbestoffer>
                        <table>di_submitbestoffer</table>
                    </submitbestoffer>
                </entities>
            </submitbestoffer_mysql4>
		</models>
        <resources>
            <submitbestoffer_setup>
                <setup>
                    <module>Jtech_SubmitBestOffer</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </submitbestoffer_setup>
            <submitbestoffer_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </submitbestoffer_write>
            <submitbestoffer_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </submitbestoffer_read>
        </resources>
		<template>
			<email>
				<submitbestoffer_email_pending>
					<label>Bestoffer - Offer Pending Email Template</label>
					<file>submitbestoffer/offer_pending.html</file> 
					<type>html</type>
				</submitbestoffer_email_pending>
				<submitbestoffer_email_approved>
					<label>Bestoffer - Offer Approved Email Template</label>
					<file>submitbestoffer/offer_approved.html</file> 
					<type>html</type>
				</submitbestoffer_email_approved>
				<submitbestoffer_email_declined>
					<label>Bestoffer - Offer Declined Email Template</label>
					<file>submitbestoffer/offer_declined.html</file> 
					<type>html</type>
				</submitbestoffer_email_declined>
			</email>
		</template>
	</global>
	
	<frontend>
		<routers>
			<submitbestoffer>
				<use>standard</use>
				<args>
					<module>Jtech_SubmitBestOffer</module>
					<frontName>submitbestoffer</frontName>
				</args>
			</submitbestoffer>
        </routers>        
        <translate>
            <modules>
                <Jtech_SubmitBestOffer>
                    <files>
                        <default>Jtech_SubmitBestOffer.csv</default>
                    </files>
                </Jtech_SubmitBestOffer>
            </modules>
        </translate>
		<layout>
            <updates>
                <submitbestoffer>
                    <file>submitbestoffer.xml</file>
                </submitbestoffer>
            </updates>
        </layout>
		<events>
			<!--<checkout_cart_save_after>-->
			<!--<checkout_cart_product_add_after>-->
			<di_submitbestoffer_checkout_cart_product_add_after>
				<observers>
					<di_submitbestoffer_approved_offer_price_set>
						<type>singleton</type>
						<class>Jtech_SubmitBestOffer_Controller_Observer</class>
						<method>diApprovedOfferPriceSet</method>
					</di_submitbestoffer_approved_offer_price_set>
				</observers>
			</di_submitbestoffer_checkout_cart_product_add_after>
			<!--</checkout_cart_product_add_after>-->
			<!--</checkout_cart_save_after>-->
			
			<checkout_cart_product_add_after>
				<observers>
					<di_submitbestoffer_approved_offer_price_set>
						<type>singleton</type>
						<class>Jtech_SubmitBestOffer_Controller_Observer</class>
						<method>diApprovedOfferPriceSet</method>
					</di_submitbestoffer_approved_offer_price_set>
				</observers>
			</checkout_cart_product_add_after>
			
			<checkout_type_onepage_save_order_after>
				<observers>
					<di_checkout_type_onepage_save_order_after_remove_offer>
						<type>singleton</type>
						<class>Jtech_SubmitBestOffer_Controller_Observer</class>
						<method>diRemoveUsedOffers</method>
					</di_checkout_type_onepage_save_order_after_remove_offer>
				</observers>
			</checkout_type_onepage_save_order_after>
		</events>
	</frontend>	
	
	<crontab>
        <jobs>
            <di_submitbestoffer_remove_all_expired_offeres>
                <schedule>
                    <cron_expr>*/5 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>submitbestoffer/submitbestoffer::removeAllExpiredOfferes</model>
                </run>
            </di_submitbestoffer_remove_all_expired_offeres>
        </jobs>
    </crontab>
	
	<admin>
		<routers>
            <adminhtml>
                <args>
                    <modules>
                         <Jtech_SubmitBestOffer after="Mage_Adminhtml">Jtech_SubmitBestOffer</Jtech_SubmitBestOffer>
                    </modules>
                </args> 
            </adminhtml>
        </routers>
	</admin>
	
	<adminhtml>
		<acl>
			<resources>
				<admin>
					<children>
                        <system>
							<children>
								<config>
									<children>
										<submitbestoffer translate="title">
                                            <title>Submit Best Offer</title>
                                            <sort_order>10</sort_order>
                                        </submitbestoffer>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
            <updates>
                <petinfo>
                    <file>submitbestoffer.xml</file>
                </petinfo>
            </updates>
        </layout>
	</adminhtml>
</config>